{% extends "bfc/base/index1.html" %}

{% block main %}
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
{% block title %}
    <title>Staff Profile</title>
 {% endblock title %}
<!-- Team -->

<div class="back">
    <h3 style="text-align: center;">Staff Profile</h3>
    <section id="team" class="pb-5">
       
        <div class="container">
            <div class="row">
                <!-- Team member -->
                {% if staff %}
                {% for staff in staff %}
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                        <div class="mainflip">
                            <div class="frontside">
                                <div class="card">
                                    <div class="card-body text-center">

                                        <p><img class=" img-fluid"  src="{{ staff.profile_image.url }}" alt="card image"></p>
                                        <h4 class="card-title">{{ staff.firstName }} {{ staff.surName }}</h4>
                                        <h4 class="card-title">{{ staff.position }}</h4>
                                        <p class="card-text">{{staff.staffBio|truncatewords:"9"}}</p>
                                        <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>

                                    </div>

                                </div>
                            </div>
                            <div class="backside">
                                <div class="card">
                                    <div class="card-body text-center mt-4">
                                        <h4 class="card-title">{{staff.firstName}} {{ staff.surName }}</h4>
                                        <p class="card-text">{{staff.staffBio|truncatewords:"15"}}</p>
                                        <ul class="list-inline">
                                            <li class="list-inline-item">
                                                <a class="social-icon text-xs-center"  href="{{staff.get_absolute_url}}">
                                                    <i >VIEW DETAILS</i>
                                                </a>
                                            </li>

                                        </ul>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
                {% endfor %}
                {% else %}
                <ul class="list-inline">
                    <li class="list-inline-item">
                            <h3><i >  NO STAFF YET </i</h3>
                    </li>
                </ul>
                {% endif %}
                <!-- ./Team member -->
                <!-- Team member -->

                <!-- ./Team member -->

            </div>
        </div>
    </section>
</div>
{% endblock main %}